@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --background: #ffffff; */
  /* --foreground: #171717; */
  --primary-color: #364c63;
  --secondary-color: #ef6f53;
}
.bg-primary {
  background-color: var(--primary-color);
}
.text-primary {
  color: var(--primary-color);
}
.text-secondary {
  color: var(--secondary-color);
}


@layer base {
  body {
    @apply text-gray-900;
  }
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
 
@layer components {
  .btn-primary {
    @apply bg-[var(--primary-color)] text-white font-bold py-2 px-4 rounded hover:bg-opacity-90 transition duration-300;
  }

  .btn-secondary {
    @apply bg-[var(--secondary-color)] text-white font-bold py-2 px-4 rounded hover:bg-opacity-90 transition duration-300;
  }
}

html {
  scroll-behavior: smooth;
}